/********************************************
    DEVELOPER:  INDRANIL PAL
    E-MAIL:     indranil.pal.0602@gmail.com
********************************************/

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
  margin: 0px;
  padding: 0px;
  font-family: 'Roboto', sans-serif;
  color: #123C69;
  background-attachment: fixed;
}

header {
  overflow: hidden;
  padding: 0% 1% 0.5% 2%;
  background-color: #EEE2DC;
  background-attachment: fixed;
}

h2 {
  font-family: 'Roboto', sans-serif;
  color: #123C69;
}

.h-div {
  width: 10%;
}

.tab {
  overflow: hidden;
  background-color: #123C69;
}

.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 10px 20px;
  transition: 0.3s;
  font-size: 17px;
  color: #EEE2DC;
}

.tab button:hover {
  background-color: #AC3B61;
  color: #EEE2DC;
}

.tab button.active {
  background-color: #EEE2DC;
  color: #123C69;
}

.formcontent {
  display: none;
  padding: 1% 1% 1% 2%;
  border-bottom: 1px solid #123C69;
  border-top: none;
}

.grid-container {
  display: grid;
  grid-gap: 0%;
  margin: 3%;
  visibility: hidden;
  font-size: xx-small;
  box-shadow:5px 10px 8px #888888;
  overflow-y: auto;
}

.input {
  padding: 0.12%;
  margin-right: 1%;
}

.submit-btn {
  background-color: #123C69;
  color: white;
  padding: 0.25% 0.55%;
  border-radius: 5px;
  margin-left: 1%;
}

.h2 {
  font-size:large;
  font-weight: bolder;
}

.form-city {
  margin-top: 10%;
}

.sel-state {
  background-color: white;
  margin-right: 2%;
  width: 20%;
  padding: 5%;
}

.err_msg {
  visibility: hidden;
  padding-left: 10%;
}
